/*
Theme Name:   Kold Katcher
Theme URI:    http://www.elegantthemes.com/gallery/divi/
Description:  Theme created for Kold Katcher
Author:       Primal Tribe
Author URI:   http://primaltribe.com
Template:     Divi
Version:      1.0.0
License:      GNU General Public License v2
License URI:  http://www.gnu.org/licenses/gpl-2.0.htm
*/

.et_mobile_nav_menu, .mobile_menu_bar {
    display: none;
}

.et_pb_section {
    background-color: #000;
}


/* Inner page styles */
.et_non_fixed_nav.et_transparent_nav.et_show_nav #page-container, .et_fixed_nav.et_show_nav #page-container {
    padding-top:0 !important;
}

.et_header_style_left .logo_container {
    display: block;
    position: relative;
    margin-top: 30px;
    /*height: 150px;*/
}

.header-image-holder {
    position: relative;
    top:0;
    left: 0;
    width:100%;
    height: 100%;

    background-image: url("images/header-stripes.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 300px;
}

#header {
    background-image: url("images/koldkatcher-header-inner-page.jpg");
    background-size: cover;
    position: relative;
}

#header nav {
    margin-top: 50px;
    background-color: #fff;
    clear: both;
}

#header nav ul {
    display: block;
}

#header nav ul li {
    padding-right: 0;
}

/*#header nav ul li a {*/
    /*color: #1e1c1b;*/
/*}*/



.page.et_pb_pagebuilder_layout #main-content {
    background-color: #000;
}

#top-menu a {
    display: block;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}


header {
    position: relative;
}

.container.et_menu_container{
    max-height: 200px;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Ubuntu', sans-serif;
}

/* *************************************
    Front Page Styles
************************************** */
.bg-holder {
    background-image: url("images/koldkatcher-header.jpg");
    /*background-position: top left;*/
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
}

.bg-holder img {
    margin: 250px auto 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}



footer {
    background-color: #1e1c1b;
    width: 100%;
}

footer .tall {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer span {
    display: inline-block;
    border-left: 1px solid #6e6e6e;
}

footer p {
    color: #6e6e6e;
    font-size: 12px;
    line-height: 20px;
}

footer p.header {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
}

footer .footer-left, footer .footer-middle, footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

footer .footer-left {
    width: 25%;
}

footer .footer-middle {
    width: 50%;
}

footer .footer-right {
    text-align: right;
    width: 24%;
    margin: 0;
}

.footer-right {
}

.footer-right p {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    padding-left: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-right p.phone {
    background-image: url("images/phone.png");
    background-repeat: no-repeat;
    background-size: 40px;
}

.footer-right p.pdf {
    background-image: url("images/pdf.png");
    background-repeat: no-repeat;
    background-size: 40px;
}

.footer-full {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #3d3937;
}

.footer-full, .footer-full p, .footer-full a {
    color: #6e6e6e;
    text-decoration: none;
    font-size: 14px;
}

.footer-full p {
    display: inline-block;
}

.footer-full a:hover {
    color: #b6b6b6;
    text-decoration: none;
}


.clr {
    width: 100%;
    height: 1px;
    clear: both;
}


@media screen and (min-width: 0px) {
    .bg-holder img {
        margin: 150px auto 0 auto;
    }

    nav {
        float: none;
        background-color: #e6e6e6;
        width: 100%;
        margin-bottom: 0;
        margin-top: 150px;
    }

    nav.front {
        margin-bottom: 100px !important;
    }

    nav ul#front, nav ul {
        display: block;
        width: 100%;
    }

    nav ul li {
        display: block !important;
        float: left;
        width: 100%;
    }

    nav ul li a, nav ul li a:link {
        font-size: 17px;
        font-weight: bold;
        text-transform: uppercase;
        color: #1e1c1b;
        display: block;
        padding: 25px 30px;
        width:100%;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        /*opacity: 0.7;*/
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        color: #fff !important;
        background-image: none !important;
        background-color: #e0311a;
        color: #fff;
    }

    #front.nav > li > a:hover, #front.nav > li > a:focus  {
        background-color: #e0311a;
        color: #fff;
    }

    footer .footer-left, footer .footer-middle, footer .footer-right  {
        width: 100%;
        text-align: left;
        padding-bottom: 20px;
    }

    footer span {
        display: none;
    }

    footer .footer-right p {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 8px;
        margin-right: 15px;
        text-align: left;
    }

    footer .footer-full p, footer .footer-full a {
        display: block;
        text-align: left;
        padding-bottom: 0px;
        margin-bottom: 0;
        line-height: 15px;
    }

    .footer-full a.youtube {
        background-image: url("images/you-tube.png");
        display: inline-block;
        height: 27px;
        width: 65px;
        margin: 15px auto;
    }

    .footer-full a.youtube:hover {
        background-image: url("images/you-tube-hover.png");
    }
}

@media screen and (min-width: 420px) {
    footer .container {
        padding-left: 0;
        padding-right: 0;
    }
    footer .footer-left {
        width: 30%;
        margin-right: 10px;
    }

    footer .footer-middle {
        width: 66%;
    }

    footer .footer-right {
        width: 100%;
        text-align: center;
    }

    footer .footer-full p, footer .footer-full a {
        display: inline-block;
        width: 60%;
        margin-right: 0;
        padding-right: 0;
    }
    .footer-full a.youtube {
        float: right;
        margin-top: 0;
    }
}

@media screen and (min-width: 768px) {
    .bg-holder img {
        margin-top:250px;
    }

    .navbar {
        border-radius: 0;
    }

    nav {
        margin-bottom: 0 !important;
    }
    nav ul {
        display: block !important;
        width: auto;
    }

    nav ul li {
        display: inline-block !important;
        float: none;
        width: auto;
        margin-right: -4px;
        margin-top: -1px;
        margin-bottom: -1px;
    }

    .bg-holder nav ul li a {
        display: inline-block;
        border-left: 1px solid #cfcfcf !important;
        width:auto;
    }

    nav ul li:first-child a {
        border: none !important;
    }


    #header nav {
        left: 0;
        bottom: 0;
        margin-bottom: 0;
    }

    #page-container #header nav ul li a {
        border: none;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        /*opacity: 0.7;*/
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
        color: rgba(0, 0, 0, 0.6) !important;
        background-image: url("images/menu-bg.jpg") !important;
        background-repeat: repeat-x;
        background-color: transparent;
        background-position: 0 bottom;
    }

    #front.nav > li > a:hover, #front.nav > li > a:focus {
        color: #fff !important;
    }

    footer span {
        display: inline-block;
    }

    footer .footer-left {
        width: 20%;
    }

    footer .footer-middle {
        width: 55%;
    }

    footer .footer-right {
        width: 19%;
        text-align: left;
        float: right;
    }

    footer .footer-right p {
        font-size: 15px;
        padding-bottom: 20px;
        min-width: 170px;

    }

    footer .footer-full a, footer .footer-full p {
        width: auto;
        text-align: left;
        display: inline-block;
    }

    .footer-full a.youtube {
        float: right;
        margin: 0;
    }

    footer p {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    footer .footer-right p {
        font-size: 20px;
        padding-bottom: 20px;
        min-width: 210px;
    }

    #top-menu {
        display: block !important;
    }
}

@media (min-width: 1200px) {

    footer p {
        font-size: 14px;
    }

}